.parent {
  display: flex;
  align-items: center;
  gap: 3px;
}

.child {
  height: 45px;
  width: 45px;
  border: 2px solid skyblue;
  box-sizing: content-box;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: white;
}

.keyboard {
  width: 310px;
  flex-wrap: wrap;
  display: flex;
}

.keyboard button {
  height: 28px;
  width: 28px;
  margin: 3px;
  border: 1px solid skyblue

}

.logout {
  position: absolute;
  bottom: 10%;
  left: 60%;
}
