@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/material.scss';
@import '~@swimlane/ngx-datatable/assets/icons.css';
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;

	.title-container {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		border-bottom: 1px solid #ddd;
		padding: 8px 0;
	}

	.title {
		text-transform: uppercase;
		font-weight: bold;
		font-size: 24px;
	}

	.subtitle {
		font-size: 12px;
		color: #999;
		margin-top: 4px;
	}
}

.logout {
  position: absolute;
  top: 12.5%;
  left: 75%;
}

